@model Marches_Deconfines.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleDescreption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleDescreption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.articleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
