@model Marches_Deconfines.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chemin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.photoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
