@model Marches_Deconfines.Utilisateur

@{
    ViewBag.Title = "Connexion_commercant";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Espace réservé aux Commercants</h2>


@using (Html.BeginForm("AutorisationCommercant", "Utilisateurs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Votre espace de connexion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.loginUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.loginUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.loginUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mdpUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mdpUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mdpUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.siren, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.siren, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.siren, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-10">
                <label class="field-validation-error">@Html.DisplayFor(m => m.LoginErrorMessage)</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Connexion" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <div> @Html.ActionLink("Retour", "Index", "Home") | @Html.ActionLink("Inscription", "Inscription_commercant", "Utilisateurs")</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
