@model Marches_Deconfines.Utilisateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdpUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdpUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeprivilege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeprivilege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrondissement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrondissement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sm.smsid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sm.smsid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.utilisateurId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
