@model Marches_Deconfines.Sm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SommeVerse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SommeVerse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.smsid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
