@model IEnumerable<Marches_Deconfines.LieuLivraison>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pointderegroupement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrondissement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pointderegroupement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrondissement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lieuLivraisonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.lieuLivraisonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lieuLivraisonId })
        </td>
    </tr>
}

</table>
